<footer class="bg-[#007ba7] text-white text-center py-4 mt-8">
    <p>Bản quyền thuộc: TRUNG TÂM THÔNG TIN VÀ GIÁM SÁT, ĐIỀU HÀNH THÔNG MINH ĐÀ NẴNG<br>
        Địa chỉ: Tầng 11 - Công viên phần mềm, số 02 Quang Trung, thành phố Đà Nẵng<br>
        Email: 1022@danang.gov.vn, Tel: (0236) 1022 - (0236) 3881 888, (0236) 3996 777 Fax: (0236) 3996 777<br>
        Người chịu trách nhiệm: Nguyễn Văn Quốc – Giám đốc Trung tâm<br>
        Giấy phép: số 167/GP-STTTT do Sở Thông tin và Truyền thông cấp ngày 03 tháng 3 năm 2017</p>
</footer>